* {
	box-sizing: border-box;
}

/* prettier-ignore */
body, div{
  margin: 0;
  padding: 0;
}

body {
	background-color: #000;
	font-family: sans-serif;
	height: 100vh;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
}

.boton {
	width: 150px;
	height: 50px;
	border-radius: 25px;
	font-size: 1.2rem;
	opacity: 0.2;
}

.container :first-child:hover {
	animation: color-audio 1s both;
}

.container :nth-child(2):hover {
	animation: color-video 1s both;
}

.container :nth-child(3):hover {
	animation: color-imagen 1s both;
}

.container :nth-child(4):hover {
	animation: color-documento 1s both;
}

.container :last-child:hover {
	animation: color-musica 1s both;
}

@keyframes color-audio {
	0% {
		opacity: 0.2;
	}
	100% {
		opacity: 1;
		background-color: #7fffd4;
		box-shadow: 0 0 70px 20px #7fffd4;
	}
}

@keyframes color-video {
	0% {
		opacity: 0.2;
	}
	100% {
		opacity: 1;
		background-color: #cda6f1;
		box-shadow: 0 0 70px 20px #cda6f1;
	}
}

@keyframes color-imagen {
	0% {
		opacity: 0.2;
	}
	100% {
		opacity: 1;
		background-color: #9dc7f7;
		box-shadow: 0 0 70px 20px #9dc7f7;
	}
}

@keyframes color-documento {
	0% {
		opacity: 0.2;
	}
	100% {
		opacity: 1;
		background-color: #f1ca8f;
		box-shadow: 0 0 70px 20px #f1ca8f;
	}
}

@keyframes color-musica {
	0% {
		opacity: 0.2;
	}
	100% {
		opacity: 1;
		background-color: #7df570;
		box-shadow: 0 0 70px 20px #7df570;
	}
}
